In [5]:
import json
import pandas as pd
import csv

def extractIDSN(filepath)
    id_str = []
    followers_count = []
    screen_name = []
    #i = 0
    with open(filepath) as f1:
        for line in f1:
            line = json.loads(line)
            id_str.extend(line['id_str'])
            followers_count.extend(line['followers_count'])
            screen_name.extend(line['screen_name'])
    #        i +=1
    #        if i>10:
    #            break
    #        print(i)
    data = {'id_str' : pd.Series(id_str),
           'followers_count' : pd.Series(followers_count),
            'screen_name' : pd.Series(screen_name)
           }
    df =pd.DataFrame(data)
    
    return df





filepath1 = "../data/followers_Network/friendsIDs-random100K.csv"
friends_ID_SN_random = extractIDSN(filepath1)

filepath2 = "../data/followers_Network/friendsIDs-random100K.csv"
friends_ID_SN_nonrandom = extractIDSN(filepath2)


friends_ID_SN_random.to_csv('../data/followers_Network/friends_ID_SN_random.csv')
friends_ID_SN_nonrandom.to_csv('../data/followers_Network/friends_ID_SN_nonrandom.csv')

1
2
3
4
5
6
7
8
9
10

        screen_name  followers_count      id_str
0   BrendanGaunce16            12730   218993054
1           ou_iach             2081   414152151
2           mladjad            41059   437891184
3          HeerJeet            60251   604940737
4      TravisKvapil            65131    97487366
5          expomick             5298    51115873
6    Jackthelad1947            24435   172081908
7    DandyKnoxville            31436  1329515617
8       mountkimbie            63241   116578795
9         jpmontoya          1147019    21046818
10      JarrettBell            14130    59673614