In [4]:
import pandas as pd


headers = ['tweet_id_str', 'created_at','user_id_str','user_name',
          'user_screen_name','user_description','user_followers_count', 'user_friends_count', 
          'user_verified','geo_type','geo.coordinates','text', 
          
          'retweet_id_str','retweet_created_at', 'retweet_user_id_str',
          'retweet_user_name','retweet_user_screen_name', 'retweet_user_description',
          'retweet_user_followers_count','retweet_user_friends_count', 'retweet_user_verified',
          'retweet_ugeo_type','retweet_geo_coordinates','retweet_text',
          
          'user_metion_screen_name']
retweets = pd.read_csv("onefile.txt", sep='\t', header= None, quoting=3) 
#Since tab is the separator we want to ignore quotes completely, which is what quoting=3 does.
len(retweets)



retweets.columns = headers #another to add the column names
retweets = retweets.sort_values(by='created_at')  #sort by time or string value
retweets[:10]

,tweet_id_str,created_at,user_id_str,user_name,user_screen_name,user_description,user_followers_count,user_friends_count,user_verified,geo_type,...,retweet_user_name,retweet_user_screen_name,retweet_user_description,retweet_user_followers_count,retweet_user_friends_count,retweet_user_verified,retweet_ugeo_type,retweet_geo_coordinates,retweet_text,user_metion_screen_name
305499,550547765961695232,2015-01-01 07:03:10,601133283,Todd Scearce,TheToddScearce,Live 2 Runn!! Own & Operate Todd's Dry Cleanin...,807,777,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759675,44,true,Point,26.676764-80.037157,The Mar-a-Lago Club was amazing tonight. Every...,realDonaldTrump
61848,550548042718257152,2015-01-01 07:04:16,2833078354,Jim da Greek,archangeljf12,Fear GOD only /ReaganWarrior/ProSportPR/PT/NGO...,1218,2011,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759743,44,true,Point,26.676764-80.037157,The Mar-a-Lago Club was amazing tonight. Every...,realDonaldTrump
66381,550548722124591105,2015-01-01 07:06:58,1292119538,Dmitriy Dzhambek,dmitriydzhambek,sir Dmitriy Dzhambek Founder and CEO of Paradi...,72,681,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759669,44,true,Point,26.676775-80.03716,"""@yankeejayman: @realDonaldTrump @flicka__ Do ...",realDonaldTrumpyankeejaymanrealDonaldTrumpf...
305500,550548738876649472,2015-01-01 07:07:02,339808319,Idiot Donald Trump,TheIdiotDonald,What Donald Trump would say if he was an idiot...,86,1,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759669,44,true,Point,26.676773-80.037168,"""@TalentlessCook: @realDonaldTrump You're only...",realDonaldTrumpTalentlessCookrealDonaldTrump
61849,550548780798713856,2015-01-01 07:07:12,2724429276,Cronbupa Business,CronbupaBusines,\N,117,0,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759669,44,true,Point,26.676764-80.037157,The Mar-a-Lago Club was amazing tonight. Every...,realDonaldTrump
66382,550549103877554177,2015-01-01 07:08:29,1148345372,Cazzayeahrite,cazzayeahrite,\N,594,968,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759669,44,true,\N,\N,"""@BrettNeveraski: I see you @realDonaldTrump h...",realDonaldTrumpBrettNeveraskirealDonaldTrump
90453,550549233875419137,2015-01-01 07:09:00,2429060390,nancy parker,nancypa14679248,\N,1071,616,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759735,44,true,Point,26.676773-80.037168,"""@TalentlessCook: @realDonaldTrump You're only...",realDonaldTrumpTalentlessCookrealDonaldTrump
90454,550549598683811841,2015-01-01 07:10:27,751614823,RGâ„¢,DEN_RG,Restore USA's Leadership; Entrepreneurial Spir...,1657,1467,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759665,44,true,Point,26.676773-80.037168,"""@TalentlessCook: @realDonaldTrump You're only...",realDonaldTrumpTalentlessCookrealDonaldTrump
61850,550549883761868801,2015-01-01 07:11:35,2155986174,78.2M,EricScCribb,U hit the end of the road and must follow to t...,18925,18153,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759715,44,true,Point,26.676779-80.037197,"""@archangeljf12: @realDonaldTrump Palm Beach i...",realDonaldTrumparchangeljf12realDonaldTrump
99767,550549946798067712,2015-01-01 07:11:50,2904198443,Adelita Cafe,crazycoyote11,\N,368,2001,False,\N,...,Donald J. Trump,realDonaldTrump,The official Twitter profile for Donald Trump ...,2759711,44,true,\N,\N,"""@StarsEntLive: #CelebrityApprentice is back! ...",realDonaldTrumpStarsEntLivekevinjonasIanZie...

In [9]:
import pandas as pd

#three debate dates:
# Sept 26, October 4, 2016 VP, Oct 9, 2016; Oct 19, 2016;
#pd.to_datetime("2015-01-01 07:03:10") < pd.to_datetime("2015-01-01 17:13:10")
data1 = retweets[retweets['created_at']<"2016-09-27 23:59:59" ]
data1 = data1[data1['created_at'] >"2016-09-26 00:00:00"]
print( len(data1)) 

data2 = retweets[retweets['created_at'] < "2016-10-05 23:59:59" ]
data2 = retweets[retweets['created_at'] > "2016-10-03 00:00:00"]   #from 10-03 to 10-13, empty 
print(len(data2))
print(data2['created_at'][:10])

data3 = retweets[retweets['created_at'] < "2016-10-10 23:59:59"]   #similarly, it is empty between 2nd debate
data3 = data3[data3['created_at'] > "2016-10-09 00:00:00"]
print( len(data3)) 

data4 = retweets[retweets['created_at'] < "2016-10-20 23:59:59" ]
data4 = data4[data4['created_at'] > "2016-10-19 00:00:00"]
data4.to_csv("data4.csv")
print( len(data4))
data4.sorted_v

5841
41329
238256    2016-10-13 14:19:43
21223     2016-10-13 14:19:50
238108    2016-10-13 14:19:55
29238     2016-10-13 14:20:13
131521    2016-10-13 14:20:20
29382     2016-10-13 14:20:24
238257    2016-10-13 14:20:27
238109    2016-10-13 14:20:59
29253     2016-10-13 14:21:24
238258    2016-10-13 14:22:04
Name: created_at, dtype: object
0
8668

In [6]:
import datetime
from datetime import timedelta, date

start_date = date(2015, 5, 20)
start_date.strftime("%Y-%m-%d")
end_date = date(2015, 6, 2)
d = start_date
delta = timedelta(days=1)
while d <= end_date:
    print (d.strftime("%Y-%m-%d"))
    d += delta

2015-05-20
2015-05-21
2015-05-22
2015-05-23
2015-05-24
2015-05-25
2015-05-26
2015-05-27
2015-05-28
2015-05-29
2015-05-30
2015-05-31
2015-06-01
2015-06-02

In [7]:
datelines = pd.to_datetime(retweets['created_at'])
dates =[datelines[i].date() for i in range(len(datelines))]


from datetime import timedelta, date

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)
        
def missingDates(dates):
    start_date = min(dates)
    end_date = max(dates)
    unique_dates = {}
    for dt in dates:
        if not dt in unique_dates: 
            unique_dates[dt] = 1
    missing = []
    for dt in daterange(start_date, end_date):
        if not dt in unique_dates:
            missing.append(dt)
    return missing        
        
missings =missingDates(dates)     
print(len(missings))
#for d in missings:
#    print(d.strftime("%Y-%m-%d"))

48

In [8]:
def learnBip(retweets):
    screen_names = {}
    trump_tweets = {}
    retweets_sn = {}
    bip_graph = []
    for idx  in retweets.index:
        rt = retweets.ix[idx]
        sn = rt['user_screen_name']
        rt_id = rt['retweet_id_str']
        rt_sn = rt['retweet_user_name']
        if sn not in screen_names:
            screen_names[sn] = True
        if rt_id not in trump_tweets:
            trump_tweets[rt_id] = True
        bip_graph.append((sn,rt_id))  
    screen_names = [sn for sn in screen_names.keys()]
    trump_tweets = [tw for tw in trump_tweets.keys()]
    return (screen_names, trump_tweets, bip_graph)   
#screen_names, trump_tweets, bip_graph = learnBip(retweets)
#print(len(bip_graph))
#print(len(screen_names), len(trump_tweets))
sn1, tweets1, bip1 = learnBip(data1)
sn4, tweets4, bip4 = learnBip(data4)

In [112]:
import csv
sn1 = pd.Series(sn1)
tweets1 =pd.Series(tweets1)
bip1 = pd.DataFrame(bip1)
sn1.to_csv("sn1.csv")
tweets1.to_csv("tweet1.csv")
bip1.to_csv("bip1.csv")
sn4 = pd.Series(sn4)
tweets4 =pd.Series(tweets4)
bip4 = pd.DataFrame(bip4)
sn4.to_csv("sn4.csv")
tweets4.to_csv("tweet4.csv")
bip4.to_csv("bip4.csv")

In [113]:
bip1[:10]

                 0                   1
0     gsxrrider026  780021651962462208
1  vivienhernandez  780108403326775297
2   MinisterioAPDP  780108403326775297
3          Jolena3  766760540475568129
4     GaryERathJr1  766760540475568129
5    David18891968  780030282854432768
6      OrtizRafeal  780021651962462208
7          LMG1953  778025630956912640
8           Cam178  779827513375780864
9      RealDJSlash  780199873979219968